:root
  --primary #3de0f2
  --folder #9aeff9
  --highlight magenta
  --white #fff
  --text-color rgba(255, 255, 255, 0.62)
  --bg-color #20282f
  --side-bar-bg-color #1d252c
  --window-border 1px solid #555
  --rawblock-edit-panel-bd transparent
  --item-hover-text-color #fff
  --title-color var(--primary)
  --scroll-bg-color #181e24
  --scroll-track-color #35afcc
  --code-bg #10151c
  --code-def #b8ccd9
  --code-key-word #eea3ff
  --code-property #05f2f2
  --code-variable #35afcc
  --code-operator #f2c335
  --code-atom #bf3952
  --code-comment rgba(255, 255, 255, 0.5)
  --code-string #8bd49c
  --code-block-bg-color #2e2e2e
  --control-text-color var(--text-color)
  --active-file-bg-color var(--code-bg)
  --active-file-border-color var(--primary)
  --active-file-text-color var(--primary)
